@inherits StatefulComponent

@{
    string id = string.IsNullOrWhiteSpace(Id)
        ? "blazor-name-of-component"
        : Id;
}

<div @ref="ElemRef" id="@id" class="@Class" style="@Style" @attributes="@ExtraAttributes">
    <CascadingValue Value="this">
      @ChildContent
    </CascadingValue>
</div>